<a href="https://colab.research.google.com/github/junio-firmino/Aprendizado_python/blob/master/brend.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
brend_url = '/content/drive/MyDrive/BrentOilPrices.csv'

In [3]:
brend = pd.read_csv(brend_url)

In [4]:
brend_1 = pd.read_csv(brend_url,index_col=0,parse_dates=True)

In [5]:
brend_1

            Price
Date
2000-01-04  23.95
2000-01-05  23.72
2000-01-06  23.55
2000-01-07  23.35
2000-01-10  22.77
...           ...
2019-09-24  64.13
2019-09-25  62.41
2019-09-26  62.08
2019-09-27  62.48
2019-09-30  60.99

[5016 rows x 1 columns]

In [6]:
brend_1.reset_index(inplace=True)

In [7]:
brend

           Date  Price
0     04-Jan-00  23.95
1     05-Jan-00  23.72
2     06-Jan-00  23.55
3     07-Jan-00  23.35
4     10-Jan-00  22.77
...         ...    ...
5011  24-Sep-19  64.13
5012  25-Sep-19  62.41
5013  26-Sep-19  62.08
5014  27-Sep-19  62.48
5015  30-Sep-19  60.99

[5016 rows x 2 columns]

In [8]:
brend_1

           Date  Price
0    2000-01-04  23.95
1    2000-01-05  23.72
2    2000-01-06  23.55
3    2000-01-07  23.35
4    2000-01-10  22.77
...         ...    ...
5011 2019-09-24  64.13
5012 2019-09-25  62.41
5013 2019-09-26  62.08
5014 2019-09-27  62.48
5015 2019-09-30  60.99

[5016 rows x 2 columns]

In [9]:
brend.dtypes

Date      object
Price    float64
dtype: object

In [10]:
brend.Date

0       04-Jan-00
1       05-Jan-00
2       06-Jan-00
3       07-Jan-00
4       10-Jan-00
          ...
5011    24-Sep-19
5012    25-Sep-19
5013    26-Sep-19
5014    27-Sep-19
5015    30-Sep-19
Name: Date, Length: 5016, dtype: object

In [11]:
brend.Date = brend.Date.astype(np.datetime64)   # Boa tecnica para mudar o tipo da variavel diretamemte

In [12]:
brend.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5016 entries, 0 to 5015
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    5016 non-null   datetime64[ns]
 1   Price   5016 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 78.5 KB

In [13]:
pd.date_range(start='1/20/2020', periods=10)

DatetimeIndex(['2020-01-20', '2020-01-21', '2020-01-22', '2020-01-23',
               '2020-01-24', '2020-01-25', '2020-01-26', '2020-01-27',
               '2020-01-28', '2020-01-29'],
              dtype='datetime64[ns]', freq='D')

In [19]:
pd.date_range(end='jul 2021', periods=20, freq='W')

DatetimeIndex(['2020-10-04', '2020-10-18', '2020-11-01', '2020-11-15',
               '2020-11-29', '2020-12-13', '2020-12-27', '2021-01-10',
               '2021-01-24', '2021-02-07', '2021-02-21', '2021-03-07',
               '2021-03-21', '2021-04-04', '2021-04-18', '2021-05-02',
               '2021-05-16', '2021-05-30', '2021-06-13', '2021-06-27'],
              dtype='datetime64[ns]', freq='2W-SUN')