<a href="https://colab.research.google.com/github/junio-firmino/Aprendizado_python/blob/master/games.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
games_url = '/content/drive/MyDrive/games_sales.csv'

In [3]:
games = pd.read_csv(games_url)

In [4]:
games

                                Name Platform  ...  Other_Sales Global_Sales
0                 Kinect Adventures!     X360  ...         1.67        21.82
1                 Grand Theft Auto V      PS3  ...         4.14        21.40
2                 Grand Theft Auto V     X360  ...         1.38        16.38
3     Call of Duty: Modern Warfare 3     X360  ...         1.32        14.76
4            Call of Duty: Black Ops     X360  ...         1.13        14.64
...                              ...      ...  ...          ...          ...
3138                  Bound By Flame     X360  ...         0.00         0.01
3139                    Mighty No. 9     XOne  ...         0.00         0.01
3140              Resident Evil 4 HD     XOne  ...         0.00         0.01
3141   Farming 2017 - The Simulation      PS4  ...         0.00         0.01
3142               Rugby Challenge 3     XOne  ...         0.00         0.01

[3143 rows x 10 columns]

In [5]:
games.loc[:,['NA_Sales','EU_Sales','JP_Sales','Other_Sales','Global_Sales']].sum()

NA_Sales        1173.30
EU_Sales         793.64
JP_Sales         107.06
Other_Sales      282.75
Global_Sales    2356.96
dtype: float64

In [6]:
games.Platform.unique()

array(['X360', 'PS3', 'PS4', 'XOne'], dtype=object)

In [7]:
sales = games.loc[:,['Platform','NA_Sales','EU_Sales','JP_Sales','Other_Sales','Global_Sales']]

In [8]:
sales.sum(numeric_only=True)

NA_Sales        1173.30
EU_Sales         793.64
JP_Sales         107.06
Other_Sales      282.75
Global_Sales    2356.96
dtype: float64

In [9]:
sales.loc[games.Platform == 'X360'].sum(numeric_only=True)

NA_Sales        601.05
EU_Sales        280.58
JP_Sales         12.43
Other_Sales      85.54
Global_Sales    979.96
dtype: float64

In [10]:
sales.groupby('Platform').sum()

          NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
Platform
PS3         392.26    343.71     79.99       141.93        957.84
PS4          96.80    123.70     14.30        43.36        278.10
X360        601.05    280.58     12.43        85.54        979.96
XOne         83.19     45.65      0.34        11.92        141.06

In [11]:
sales.groupby(['Platform','NA_Sales']).sum()

                   EU_Sales  JP_Sales  Other_Sales  Global_Sales
Platform NA_Sales
PS3      0.00          8.08     22.53         1.70         32.34
         0.01          1.21      1.08         0.40          2.89
         0.02          0.97      0.26         0.29          1.90
         0.03          1.02      0.58         0.22          2.39
         0.04          2.13      1.16         0.54          4.79
...                     ...       ...          ...           ...
XOne     2.45          1.26      0.01         0.37          4.09
         2.64          1.20      0.03         0.39          4.26
         2.66          2.01      0.00         0.41          5.08
         3.21          1.53      0.01         0.38          5.13
         4.52          2.09      0.01         0.67          7.30

[548 rows x 4 columns]

In [12]:
sales.groupby('Platform').sum()

          NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
Platform
PS3         392.26    343.71     79.99       141.93        957.84
PS4          96.80    123.70     14.30        43.36        278.10
X360        601.05    280.58     12.43        85.54        979.96
XOne         83.19     45.65      0.34        11.92        141.06

In [13]:
# mapping

platform_names = {'PS3':'Playstation',
                  'PS4':'Playstation',
                  'X360':'Xbox',
                  'XOne':'Xbox'}

In [14]:
sales.set_index('Platform').groupby(platform_names).sum()

             NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
Playstation    489.06    467.41     94.29       185.29       1235.94
Xbox           684.24    326.23     12.77        97.46       1121.02

In [15]:
games.head()

                             Name Platform  ...  Other_Sales Global_Sales
0              Kinect Adventures!     X360  ...         1.67        21.82
1              Grand Theft Auto V      PS3  ...         4.14        21.40
2              Grand Theft Auto V     X360  ...         1.38        16.38
3  Call of Duty: Modern Warfare 3     X360  ...         1.32        14.76
4         Call of Duty: Black Ops     X360  ...         1.13        14.64

[5 rows x 10 columns]

In [16]:
games.loc[:,['Genre','Global_Sales']]

             Genre  Global_Sales
0             Misc         21.82
1           Action         21.40
2           Action         16.38
3          Shooter         14.76
4          Shooter         14.64
...            ...           ...
3138  Role-Playing          0.01
3139      Platform          0.01
3140       Shooter          0.01
3141    Simulation          0.01
3142        Sports          0.01

[3143 rows x 2 columns]

In [17]:
games.loc[:,['Genre','Global_Sales']].set_index('Genre')

              Global_Sales
Genre
Misc                 21.82
Action               21.40
Action               16.38
Shooter              14.76
Shooter              14.64
...                    ...
Role-Playing          0.01
Platform              0.01
Shooter               0.01
Simulation            0.01
Sports                0.01

[3143 rows x 1 columns]

In [18]:
ser=games.loc[:,['Genre','Global_Sales']].set_index('Genre').squeeze()

In [19]:
type(ser)

pandas.core.series.Series

In [20]:
ser

Genre
Misc            21.82
Action          21.40
Action          16.38
Shooter         14.76
Shooter         14.64
                ...
Role-Playing     0.01
Platform         0.01
Shooter          0.01
Simulation       0.01
Sports           0.01
Name: Global_Sales, Length: 3143, dtype: float64

In [21]:
ser.groupby('Genre').sum()

Genre
Action          671.40
Adventure        45.34
Fighting         99.69
Misc            154.07
Platform         49.54
Puzzle            1.47
Racing          160.27
Role-Playing    182.53
Shooter         601.52
Simulation       26.55
Sports          348.72
Strategy         15.86
Name: Global_Sales, dtype: float64

In [22]:
ser.groupby('Genre').mean().sort_values(ascending=True)

Genre
Puzzle          0.133636
Strategy        0.264333
Adventure       0.298289
Simulation      0.336076
Misc            0.550250
Fighting        0.604182
Platform        0.651842
Sports          0.681094
Racing          0.687854
Role-Playing    0.715804
Action          0.751007
Shooter         1.412019
Name: Global_Sales, dtype: float64

In [23]:
publishers = games.loc[:, ['Publisher','Genre','Platform','NA_Sales']]

In [24]:
publishers

                   Publisher         Genre Platform  NA_Sales
0     Microsoft Game Studios          Misc     X360     14.97
1       Take-Two Interactive        Action      PS3      7.01
2       Take-Two Interactive        Action     X360      9.63
3                 Activision       Shooter     X360      9.03
4                 Activision       Shooter     X360      9.67
...                      ...           ...      ...       ...
3138                     NaN  Role-Playing     X360      0.00
3139             Deep Silver      Platform     XOne      0.01
3140                  Capcom       Shooter     XOne      0.01
3141       UIG Entertainment    Simulation      PS4      0.00
3142    Alternative Software        Sports     XOne      0.00

[3143 rows x 4 columns]

In [25]:
publishers.loc[:,['Publisher','NA_Sales']]

                   Publisher  NA_Sales
0     Microsoft Game Studios     14.97
1       Take-Two Interactive      7.01
2       Take-Two Interactive      9.63
3                 Activision      9.03
4                 Activision      9.67
...                      ...       ...
3138                     NaN      0.00
3139             Deep Silver      0.01
3140                  Capcom      0.01
3141       UIG Entertainment      0.00
3142    Alternative Software      0.00

[3143 rows x 2 columns]

In [26]:
publishers.loc[:,['Publisher','NA_Sales']]

                   Publisher  NA_Sales
0     Microsoft Game Studios     14.97
1       Take-Two Interactive      7.01
2       Take-Two Interactive      9.63
3                 Activision      9.03
4                 Activision      9.67
...                      ...       ...
3138                     NaN      0.00
3139             Deep Silver      0.01
3140                  Capcom      0.01
3141       UIG Entertainment      0.00
3142    Alternative Software      0.00

[3143 rows x 2 columns]

In [27]:
publi = publishers.loc[:,['Publisher','NA_Sales']].set_index('Publisher').squeeze()

In [28]:
publi_1 = publishers.loc[:,['Publisher','NA_Sales']].set_index('Publisher')

In [29]:
publi_1

                        NA_Sales
Publisher
Microsoft Game Studios     14.97
Take-Two Interactive        7.01
Take-Two Interactive        9.63
Activision                  9.03
Activision                  9.67
...                          ...
NaN                         0.00
Deep Silver                 0.01
Capcom                      0.01
UIG Entertainment           0.00
Alternative Software        0.00

[3143 rows x 1 columns]

In [30]:
publi

Publisher
Microsoft Game Studios    14.97
Take-Two Interactive       7.01
Take-Two Interactive       9.63
Activision                 9.03
Activision                 9.67
                          ...
NaN                        0.00
Deep Silver                0.01
Capcom                     0.01
UIG Entertainment          0.00
Alternative Software       0.00
Name: NA_Sales, Length: 3143, dtype: float64

In [31]:
publi.groupby('Publisher').sum()

Publisher
49Games              0.00
505 Games            7.92
5pb                  0.02
Abylight             0.07
Ackkstudios          0.00
                     ...
Yacht Club Games     0.03
Yeti                 0.00
Zoo Games            0.30
Zushi Games          0.20
bitComposer Games    0.16
Name: NA_Sales, Length: 155, dtype: float64

In [32]:
publi_1.groupby('Publisher').sum().sort_values(by='NA_Sales', ascending=False)

                        NA_Sales
Publisher
Electronic Arts           213.38
Activision                193.16
Take-Two Interactive      120.99
Microsoft Game Studios    116.77
Ubisoft                    98.65
...                          ...
Kadokawa Games              0.00
Falcom Corporation          0.00
Devolver Digital            0.00
CyberFront                  0.00
49Games                     0.00

[155 rows x 1 columns]

In [33]:
publi_1.groupby('Publisher').sum().sort_values(by='NA_Sales', ascending=False).head(10)

                                        NA_Sales
Publisher
Electronic Arts                           213.38
Activision                                193.16
Take-Two Interactive                      120.99
Microsoft Game Studios                    116.77
Ubisoft                                    98.65
Sony Computer Entertainment                76.35
Warner Bros. Interactive Entertainment     45.24
THQ                                        36.44
Bethesda Softworks                         33.88
Capcom                                     24.74

In [34]:
publi.groupby('Publisher').sum().sort_values(ascending=False).head(10)

Publisher
Electronic Arts                           213.38
Activision                                193.16
Take-Two Interactive                      120.99
Microsoft Game Studios                    116.77
Ubisoft                                    98.65
Sony Computer Entertainment                76.35
Warner Bros. Interactive Entertainment     45.24
THQ                                        36.44
Bethesda Softworks                         33.88
Capcom                                     24.74
Name: NA_Sales, dtype: float64

In [35]:
games

                                Name Platform  ...  Other_Sales Global_Sales
0                 Kinect Adventures!     X360  ...         1.67        21.82
1                 Grand Theft Auto V      PS3  ...         4.14        21.40
2                 Grand Theft Auto V     X360  ...         1.38        16.38
3     Call of Duty: Modern Warfare 3     X360  ...         1.32        14.76
4            Call of Duty: Black Ops     X360  ...         1.13        14.64
...                              ...      ...  ...          ...          ...
3138                  Bound By Flame     X360  ...         0.00         0.01
3139                    Mighty No. 9     XOne  ...         0.00         0.01
3140              Resident Evil 4 HD     XOne  ...         0.00         0.01
3141   Farming 2017 - The Simulation      PS4  ...         0.00         0.01
3142               Rugby Challenge 3     XOne  ...         0.00         0.01

[3143 rows x 10 columns]

In [36]:
publi_2 =publishers.loc[:,['Platform','NA_Sales']]

In [37]:
publi_2

     Platform  NA_Sales
0        X360     14.97
1         PS3      7.01
2        X360      9.63
3        X360      9.03
4        X360      9.67
...       ...       ...
3138     X360      0.00
3139     XOne      0.01
3140     XOne      0.01
3141      PS4      0.00
3142     XOne      0.00

[3143 rows x 2 columns]

In [38]:
publi_2.groupby('Platform').sum().sort_values(by='NA_Sales',ascending=False)

          NA_Sales
Platform
X360        601.05
PS3         392.26
PS4          96.80
XOne         83.19

In [39]:
publishers.Publisher.shape

(3143,)

In [40]:
publishers.Publisher.unique().shape

(156,)

In [41]:
publishers.Publisher.isnull()   # Tratando os NA, neste caso localizando

0       False
1       False
2       False
3       False
4       False
        ...
3138     True
3139    False
3140    False
3141    False
3142    False
Name: Publisher, Length: 3143, dtype: bool

In [42]:
publishers[publishers.Publisher.isnull()]  # Visualizando no dataframe os NA's

     Publisher         Genre Platform  NA_Sales
1149       NaN      Platform      PS3      0.00
2713       NaN  Role-Playing      PS3      0.00
2808       NaN       Shooter     X360      0.00
2926       NaN     Adventure      PS3      0.00
3087       NaN          Misc     X360      0.00
3093       NaN       Shooter     X360      0.01
3138       NaN  Role-Playing     X360      0.00

In [43]:
publishers[publishers.Publisher.isnull()].index  # Pegando os index dos NA's

Int64Index([1149, 2713, 2808, 2926, 3087, 3093, 3138], dtype='int64')

In [44]:
sales

     Platform  NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0        X360     14.97      4.94      0.24         1.67         21.82
1         PS3      7.01      9.27      0.97         4.14         21.40
2        X360      9.63      5.31      0.06         1.38         16.38
3        X360      9.03      4.28      0.13         1.32         14.76
4        X360      9.67      3.73      0.11         1.13         14.64
...       ...       ...       ...       ...          ...           ...
3138     X360      0.00      0.01      0.00         0.00          0.01
3139     XOne      0.01      0.00      0.00         0.00          0.01
3140     XOne      0.01      0.00      0.00         0.00          0.01
3141      PS4      0.00      0.01      0.00         0.00          0.01
3142     XOne      0.00      0.01      0.00         0.00          0.01

[3143 rows x 6 columns]

In [45]:
sales.groupby('Platform').get_group('PS3')

     Platform  NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
1         PS3      7.01      9.27      0.97         4.14         21.40
6         PS3      4.99      5.88      0.65         2.52         14.03
9         PS3      5.54      5.82      0.49         1.62         13.46
10        PS3      5.98      4.44      0.48         1.83         12.73
14        PS3      2.96      4.88      0.81         2.12         10.77
...       ...       ...       ...       ...          ...           ...
3124      PS3      0.00      0.01      0.00         0.00          0.01
3125      PS3      0.00      0.00      0.01         0.00          0.01
3129      PS3      0.00      0.00      0.01         0.00          0.01
3132      PS3      0.00      0.00      0.01         0.00          0.01
3136      PS3      0.00      0.00      0.01         0.00          0.01

[1329 rows x 6 columns]

In [46]:
sales.groupby('Platform').get_group('PS3')

     Platform  NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
1         PS3      7.01      9.27      0.97         4.14         21.40
6         PS3      4.99      5.88      0.65         2.52         14.03
9         PS3      5.54      5.82      0.49         1.62         13.46
10        PS3      5.98      4.44      0.48         1.83         12.73
14        PS3      2.96      4.88      0.81         2.12         10.77
...       ...       ...       ...       ...          ...           ...
3124      PS3      0.00      0.01      0.00         0.00          0.01
3125      PS3      0.00      0.00      0.01         0.00          0.01
3129      PS3      0.00      0.00      0.01         0.00          0.01
3132      PS3      0.00      0.00      0.01         0.00          0.01
3136      PS3      0.00      0.00      0.01         0.00          0.01

[1329 rows x 6 columns]

In [47]:
studios = games.loc[:,['Genre','Publisher','Global_Sales']]

In [48]:
studios

             Genre               Publisher  Global_Sales
0             Misc  Microsoft Game Studios         21.82
1           Action    Take-Two Interactive         21.40
2           Action    Take-Two Interactive         16.38
3          Shooter              Activision         14.76
4          Shooter              Activision         14.64
...            ...                     ...           ...
3138  Role-Playing                     NaN          0.01
3139      Platform             Deep Silver          0.01
3140       Shooter                  Capcom          0.01
3141    Simulation       UIG Entertainment          0.01
3142        Sports    Alternative Software          0.01

[3143 rows x 3 columns]

In [49]:
studios.groupby('Publisher').sum().sort_values(by='Global_Sales',ascending=False)

                        Global_Sales
Publisher
Electronic Arts               434.41
Activision                    349.22
Take-Two Interactive          218.08
Ubisoft                       201.98
Microsoft Game Studios        190.56
...                              ...
UIG Entertainment               0.01
ChunSoft                        0.01
Kaga Create                     0.01
Epic Games                      0.01
Ongakukan                       0.01

[155 rows x 1 columns]

In [50]:
studios.groupby(['Genre','Publisher']).sum()

                               Global_Sales
Genre    Publisher
Action   505 Games                     2.25
         Abylight                      0.08
         Ackkstudios                   0.33
         Acquire                       0.11
         Activision                   42.84
...                                     ...
Strategy Square Enix                   0.35
         Takara Tomy                   0.09
         Take-Two Interactive          2.92
         Tecmo Koei                    0.58
         Ubisoft                       2.34

[422 rows x 1 columns]

In [51]:
studios.groupby(['Genre','Publisher']).agg(sum)

                               Global_Sales
Genre    Publisher
Action   505 Games                     2.25
         Abylight                      0.08
         Ackkstudios                   0.33
         Acquire                       0.11
         Activision                   42.84
...                                     ...
Strategy Square Enix                   0.35
         Takara Tomy                   0.09
         Take-Two Interactive          2.92
         Tecmo Koei                    0.58
         Ubisoft                       2.34

[422 rows x 1 columns]

In [52]:
studios.groupby(['Genre','Publisher']).sum().sort_values(by='Global_Sales',ascending=False)

                                         Global_Sales
Genre        Publisher
Shooter      Activision                        245.46
Sports       Electronic Arts                   203.50
Action       Take-Two Interactive              106.04
             Ubisoft                            96.44
Shooter      Electronic Arts                    92.58
...                                               ...
Adventure    Cave                                0.01
Role-Playing TopWare Interactive                 0.01
Sports       Interworks Unlimited, Inc.          0.01
Strategy     Ackkstudios                         0.01
Adventure    Views                               0.01

[422 rows x 1 columns]

In [53]:
studios.groupby(['Genre','Publisher']).agg(['count','sum','mean'])

                              Global_Sales
                                     count    sum      mean
Genre    Publisher
Action   505 Games                       8   2.25  0.281250
         Abylight                        1   0.08  0.080000
         Ackkstudios                     1   0.33  0.330000
         Acquire                         1   0.11  0.110000
         Activision                     95  42.84  0.450947
...                                    ...    ...       ...
Strategy Square Enix                     1   0.35  0.350000
         Takara Tomy                     1   0.09  0.090000
         Take-Two Interactive            6   2.92  0.486667
         Tecmo Koei                      6   0.58  0.096667
         Ubisoft                         4   2.34  0.585000

[422 rows x 3 columns]

In [54]:
studios.groupby(['Genre','Publisher']).agg(['count','sum','mean']).columns

MultiIndex([('Global_Sales', 'count'),
            ('Global_Sales',   'sum'),
            ('Global_Sales',  'mean')],
           )

In [55]:
studios.groupby(['Genre','Publisher']).agg(['count','sum','mean']).sort_values(by=('Global_Sales',   'sum'),ascending=False)

                                        Global_Sales
                                               count     sum      mean
Genre        Publisher
Shooter      Activision                           72  245.46  3.409167
Sports       Electronic Arts                     170  203.50  1.197059
Action       Take-Two Interactive                 23  106.04  4.610435
             Ubisoft                              67   96.44  1.439403
Shooter      Electronic Arts                      50   92.58  1.851600
...                                              ...     ...       ...
Adventure    Cave                                  1    0.01  0.010000
Role-Playing TopWare Interactive                   1    0.01  0.010000
Sports       Interworks Unlimited, Inc.            1    0.01  0.010000
Strategy     Ackkstudios                           1    0.01  0.010000
Adventure    Views                                 1    0.01  0.010000

[422 rows x 3 columns]

In [56]:
studios.groupby(['Genre','Publisher']).agg(
    contagem = ('Global_Sales','count'), soma = ('Global_Sales','sum'), media = ('Global_Sales','mean')
    ).sort_values(by='soma', ascending=False)

                                         contagem    soma     media
Genre        Publisher
Shooter      Activision                        72  245.46  3.409167
Sports       Electronic Arts                  170  203.50  1.197059
Action       Take-Two Interactive              23  106.04  4.610435
             Ubisoft                           67   96.44  1.439403
Shooter      Electronic Arts                   50   92.58  1.851600
...                                           ...     ...       ...
Adventure    Cave                               1    0.01  0.010000
Role-Playing TopWare Interactive                1    0.01  0.010000
Sports       Interworks Unlimited, Inc.         1    0.01  0.010000
Strategy     Ackkstudios                        1    0.01  0.010000
Adventure    Views                              1    0.01  0.010000

[422 rows x 3 columns]

In [57]:
games

                                Name Platform  ...  Other_Sales Global_Sales
0                 Kinect Adventures!     X360  ...         1.67        21.82
1                 Grand Theft Auto V      PS3  ...         4.14        21.40
2                 Grand Theft Auto V     X360  ...         1.38        16.38
3     Call of Duty: Modern Warfare 3     X360  ...         1.32        14.76
4            Call of Duty: Black Ops     X360  ...         1.13        14.64
...                              ...      ...  ...          ...          ...
3138                  Bound By Flame     X360  ...         0.00         0.01
3139                    Mighty No. 9     XOne  ...         0.00         0.01
3140              Resident Evil 4 HD     XOne  ...         0.00         0.01
3141   Farming 2017 - The Simulation      PS4  ...         0.00         0.01
3142               Rugby Challenge 3     XOne  ...         0.00         0.01

[3143 rows x 10 columns]

In [58]:
ps3 = games.loc[games.Platform == 'PS3', 
          ['Name','Genre','EU_Sales','Global_Sales']] # Usando a função LOC nos permite inclusive escolher quais data trabalhar

In [59]:
ps3

                                                   Name  ... Global_Sales
1                                    Grand Theft Auto V  ...        21.40
6                            Call of Duty: Black Ops II  ...        14.03
9                        Call of Duty: Modern Warfare 3  ...        13.46
10                              Call of Duty: Black Ops  ...        12.73
14                                       Gran Turismo 5  ...        10.77
...                                                 ...  ...          ...
3124                        Hyperdimension Neptunia mk2  ...         0.01
3125  Shin Koihime Musou: Otome Taisen * Sangokushi ...  ...         0.01
3129                                Muv-Luv Alternative  ...         0.01
3132                           Akatsuki no Goei Trinity  ...         0.01
3136                                    Battle Fantasia  ...         0.01

[1329 rows x 4 columns]

In [60]:
ps3.groupby('Genre').apply(lambda x:'Solid' if x.EU_Sales.sum()>50 else 'weak')

Genre
Action          Solid
Adventure        weak
Fighting         weak
Misc             weak
Platform         weak
Puzzle           weak
Racing           weak
Role-Playing     weak
Shooter         Solid
Simulation       weak
Sports           weak
Strategy         weak
dtype: object

In [61]:
games.groupby('Year').agg('sum').sort_values(by='Global_Sales', ascending=False).head(3)

        NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
Year
2010.0    168.13     99.57     11.98        35.65        315.47
2011.0    151.50    101.96     15.88        35.11        304.49
2008.0    139.62     78.35      7.72        29.77        255.45

In [62]:
games.groupby(['Genre','Year','Platform']).agg('sum')

                          NA_Sales  EU_Sales  ...  Other_Sales  Global_Sales
Genre    Year   Platform                      ...
Action   2005.0 X360          1.05      0.10  ...         0.10          1.26
         2006.0 PS3           0.18      0.38  ...         0.14          0.92
                X360          5.93      1.86  ...         0.76          8.77
         2007.0 PS3           7.69      5.68  ...         2.54         17.12
                X360          7.89      2.12  ...         0.96         11.09
...                            ...       ...  ...          ...           ...
Strategy 2014.0 PS4           0.03      0.00  ...         0.01          0.10
         2015.0 PS4           0.00      0.05  ...         0.01          0.07
                XOne          0.14      0.05  ...         0.02          0.20
         2016.0 PS4           0.01      0.02  ...         0.01          0.04
                XOne          0.01      0.01  ...         0.00          0.02

[307 rows x 5 columns]

In [63]:
games.groupby(['Genre','Year','Platform']).agg('sum').sort_values(by='EU_Sales', ascending=False).head(10)

                         NA_Sales  EU_Sales  ...  Other_Sales  Global_Sales
Genre   Year   Platform                      ...
Action  2013.0 PS3          18.47     21.72  ...         9.34         54.44
        2014.0 PS4          14.68     19.18  ...         7.36         42.84
        2012.0 PS3          16.27     17.37  ...         7.46         45.45
        2011.0 PS3          16.66     16.49  ...         6.37         44.59
Shooter 2011.0 PS3          16.83     15.98  ...         5.59         40.25
        2015.0 PS4          12.18     13.76  ...         5.13         32.09
        2011.0 X360         27.59     13.62  ...         4.02         45.81
Action  2010.0 PS3          17.89     13.55  ...         5.58         39.82
        2009.0 PS3          21.03     13.47  ...         6.22         44.18
        2015.0 PS4          10.74     13.46  ...         4.72         31.76

[10 rows x 5 columns]

In [64]:
games.groupby(['Platform','Genre']).filter(lambda x: x.JP_Sales.sum()> x.NA_Sales.sum())

                                Name Platform  ...  Other_Sales Global_Sales
1373          Farming Simulator 2015      PS4  ...         0.05         0.35
1490                       Tropico 5      PS4  ...         0.04         0.30
2420  The Idolmaster: Platinum Stars      PS4  ...         0.00         0.09
3021             Winning Post 8 2016      PS4  ...         0.00         0.02
3141   Farming 2017 - The Simulation      PS4  ...         0.00         0.01

[5 rows x 10 columns]

In [65]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3143 entries, 0 to 3142
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          3143 non-null   object
 1   Platform      3143 non-null   object
 2   Year          3088 non-null   float64
 3   Genre         3143 non-null   object
 4   Publisher     3136 non-null   object
 5   NA_Sales      3143 non-null   float64
 6   EU_Sales      3143 non-null   float64
 7   JP_Sales      3143 non-null   float64
 8   Other_Sales   3143 non-null   float64
 9   Global_Sales  3143 non-null   float64
dtypes: float64(6), object(4)
memory usage: 245.7+ KB

In [66]:
games[games.Year.isnull()].shape

(55, 10)

In [67]:
games[games.Publisher.isnull()].shape

(7, 10)

In [68]:
games.isna().sum()   # Encontrar a quantidade de NA's por coluna

Name             0
Platform         0
Year            55
Genre            0
Publisher        7
NA_Sales         0
EU_Sales         0
JP_Sales         0
Other_Sales      0
Global_Sales     0
dtype: int64

In [69]:
games.Name.unique().shape

(1931,)

In [70]:
games[games.Name == 'FIFA 15']

        Name Platform    Year  ... JP_Sales Other_Sales  Global_Sales
40   FIFA 15      PS4  2014.0  ...     0.05        1.47          6.59
71   FIFA 15      PS3  2014.0  ...     0.04        1.07          4.82
141  FIFA 15     X360  2014.0  ...     0.00        0.30          3.11
246  FIFA 15     XOne  2014.0  ...     0.00        0.14          2.15

[4 rows x 10 columns]

In [71]:
games.loc[games.Genre=='Sports', ['Name','Global_Sales']]

                                         Name  Global_Sales
24                                    FIFA 16          8.49
33                                    FIFA 14          6.90
38                                    FIFA 12          6.69
40                                    FIFA 15          6.59
45                              Kinect Sports          6.24
...                                       ...           ...
3111  WSC REAL 09: World Snooker Championship          0.01
3112          World Snooker Championship 2007          0.01
3113                              Handball 16          0.01
3114                         LMA Manager 2007          0.01
3142                        Rugby Challenge 3          0.01

[512 rows x 2 columns]

In [72]:
games.loc[games.Genre=='Sports', ['Name','Global_Sales']].groupby('Name').agg('sum')

                                  Global_Sales
Name
2010 FIFA World Cup South Africa          2.09
2014 FIFA World Cup Brazil                1.18
After Hours Athletes                      0.12
All-Pro Football 2K8                      0.41
Amped 3                                   0.16
...                                        ...
Your Shape: Fitness Evolved               1.33
Your Shape: Fitness Evolved 2012          1.17
Zumba Fitness                             2.98
Zumba Fitness Rush                        0.19
pro evolution soccer 2011                 3.03

[288 rows x 1 columns]

In [77]:
games.loc[games.Publisher=="Namco Bandai Games",['Name','Global_Sales']].groupby('Name').agg('sum')

                                     Global_Sales
Name
.hack: Sekai no Mukou ni + Versus            0.03
3rd Super Robot Wars Z Jigoku Hen            0.23
3rd Super Robot Wars Z: Tengoku-Hen          0.15
A.C.E.: Another Century's Episode R          0.26
AKB1/149: Love Election                      0.08
...                                           ...
Time Crisis: Razing Storm                    0.55
Tsukigime Ranko's Longest Day                0.01
Ukiyo no Shishi                              0.03
Valentino Rossi: The Game                    0.08
Young Justice: Legacy                        0.10

[149 rows x 1 columns]