<a href="https://colab.research.google.com/github/junio-firmino/Aprendizado_python/blob/master/games.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
games_url = '/content/drive/MyDrive/games_sales.csv'

In [4]:
games = pd.read_csv(games_url)

In [5]:
games

                                Name Platform  ...  Other_Sales Global_Sales
0                 Kinect Adventures!     X360  ...         1.67        21.82
1                 Grand Theft Auto V      PS3  ...         4.14        21.40
2                 Grand Theft Auto V     X360  ...         1.38        16.38
3     Call of Duty: Modern Warfare 3     X360  ...         1.32        14.76
4            Call of Duty: Black Ops     X360  ...         1.13        14.64
...                              ...      ...  ...          ...          ...
3138                  Bound By Flame     X360  ...         0.00         0.01
3139                    Mighty No. 9     XOne  ...         0.00         0.01
3140              Resident Evil 4 HD     XOne  ...         0.00         0.01
3141   Farming 2017 - The Simulation      PS4  ...         0.00         0.01
3142               Rugby Challenge 3     XOne  ...         0.00         0.01

[3143 rows x 10 columns]

In [6]:
games.loc[:,['NA_Sales','EU_Sales','JP_Sales','Other_Sales','Global_Sales']].sum()

NA_Sales        1173.30
EU_Sales         793.64
JP_Sales         107.06
Other_Sales      282.75
Global_Sales    2356.96
dtype: float64

In [7]:
games.Platform.unique()

array(['X360', 'PS3', 'PS4', 'XOne'], dtype=object)

In [8]:
sales = games.loc[:,['Platform','NA_Sales','EU_Sales','JP_Sales','Other_Sales','Global_Sales']]

In [9]:
sales.sum(numeric_only=True)

NA_Sales        1173.30
EU_Sales         793.64
JP_Sales         107.06
Other_Sales      282.75
Global_Sales    2356.96
dtype: float64

In [10]:
sales.loc[games.Platform == 'X360'].sum(numeric_only=True)

NA_Sales        601.05
EU_Sales        280.58
JP_Sales         12.43
Other_Sales      85.54
Global_Sales    979.96
dtype: float64

In [11]:
sales.groupby('Platform').sum()

          NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
Platform
PS3         392.26    343.71     79.99       141.93        957.84
PS4          96.80    123.70     14.30        43.36        278.10
X360        601.05    280.58     12.43        85.54        979.96
XOne         83.19     45.65      0.34        11.92        141.06

In [12]:
sales.groupby(['Platform','NA_Sales']).sum()

                   EU_Sales  JP_Sales  Other_Sales  Global_Sales
Platform NA_Sales
PS3      0.00          8.08     22.53         1.70         32.34
         0.01          1.21      1.08         0.40          2.89
         0.02          0.97      0.26         0.29          1.90
         0.03          1.02      0.58         0.22          2.39
         0.04          2.13      1.16         0.54          4.79
...                     ...       ...          ...           ...
XOne     2.45          1.26      0.01         0.37          4.09
         2.64          1.20      0.03         0.39          4.26
         2.66          2.01      0.00         0.41          5.08
         3.21          1.53      0.01         0.38          5.13
         4.52          2.09      0.01         0.67          7.30

[548 rows x 4 columns]

In [13]:
sales.groupby('Platform').sum()

          NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
Platform
PS3         392.26    343.71     79.99       141.93        957.84
PS4          96.80    123.70     14.30        43.36        278.10
X360        601.05    280.58     12.43        85.54        979.96
XOne         83.19     45.65      0.34        11.92        141.06

In [14]:
# mapping

platform_names = {'PS3':'Playstation',
                  'PS4':'Playstation',
                  'X360':'Xbox',
                  'XOne':'Xbox'}

In [15]:
sales.set_index('Platform').groupby(platform_names).sum()

             NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
Playstation    489.06    467.41     94.29       185.29       1235.94
Xbox           684.24    326.23     12.77        97.46       1121.02

In [16]:
games.head()

                             Name Platform  ...  Other_Sales Global_Sales
0              Kinect Adventures!     X360  ...         1.67        21.82
1              Grand Theft Auto V      PS3  ...         4.14        21.40
2              Grand Theft Auto V     X360  ...         1.38        16.38
3  Call of Duty: Modern Warfare 3     X360  ...         1.32        14.76
4         Call of Duty: Black Ops     X360  ...         1.13        14.64

[5 rows x 10 columns]

In [17]:
games.loc[:,['Genre','Global_Sales']]

             Genre  Global_Sales
0             Misc         21.82
1           Action         21.40
2           Action         16.38
3          Shooter         14.76
4          Shooter         14.64
...            ...           ...
3138  Role-Playing          0.01
3139      Platform          0.01
3140       Shooter          0.01
3141    Simulation          0.01
3142        Sports          0.01

[3143 rows x 2 columns]

In [18]:
games.loc[:,['Genre','Global_Sales']].set_index('Genre')

              Global_Sales
Genre
Misc                 21.82
Action               21.40
Action               16.38
Shooter              14.76
Shooter              14.64
...                    ...
Role-Playing          0.01
Platform              0.01
Shooter               0.01
Simulation            0.01
Sports                0.01

[3143 rows x 1 columns]

In [19]:
ser=games.loc[:,['Genre','Global_Sales']].set_index('Genre').squeeze()

In [20]:
type(ser)

pandas.core.series.Series

In [21]:
ser

Genre
Misc            21.82
Action          21.40
Action          16.38
Shooter         14.76
Shooter         14.64
                ...
Role-Playing     0.01
Platform         0.01
Shooter          0.01
Simulation       0.01
Sports           0.01
Name: Global_Sales, Length: 3143, dtype: float64

In [22]:
ser.groupby('Genre').sum()

Genre
Action          671.40
Adventure        45.34
Fighting         99.69
Misc            154.07
Platform         49.54
Puzzle            1.47
Racing          160.27
Role-Playing    182.53
Shooter         601.52
Simulation       26.55
Sports          348.72
Strategy         15.86
Name: Global_Sales, dtype: float64

In [23]:
ser.groupby('Genre').mean().sort_values(ascending=True)

Genre
Puzzle          0.133636
Strategy        0.264333
Adventure       0.298289
Simulation      0.336076
Misc            0.550250
Fighting        0.604182
Platform        0.651842
Sports          0.681094
Racing          0.687854
Role-Playing    0.715804
Action          0.751007
Shooter         1.412019
Name: Global_Sales, dtype: float64

In [24]:
publishers = games.loc[:, ['Publisher','Genre','Platform','NA_Sales']]

In [25]:
publishers

                   Publisher         Genre Platform  NA_Sales
0     Microsoft Game Studios          Misc     X360     14.97
1       Take-Two Interactive        Action      PS3      7.01
2       Take-Two Interactive        Action     X360      9.63
3                 Activision       Shooter     X360      9.03
4                 Activision       Shooter     X360      9.67
...                      ...           ...      ...       ...
3138                     NaN  Role-Playing     X360      0.00
3139             Deep Silver      Platform     XOne      0.01
3140                  Capcom       Shooter     XOne      0.01
3141       UIG Entertainment    Simulation      PS4      0.00
3142    Alternative Software        Sports     XOne      0.00

[3143 rows x 4 columns]

In [26]:
publishers.loc[:,['Publisher','NA_Sales']]

                   Publisher  NA_Sales
0     Microsoft Game Studios     14.97
1       Take-Two Interactive      7.01
2       Take-Two Interactive      9.63
3                 Activision      9.03
4                 Activision      9.67
...                      ...       ...
3138                     NaN      0.00
3139             Deep Silver      0.01
3140                  Capcom      0.01
3141       UIG Entertainment      0.00
3142    Alternative Software      0.00

[3143 rows x 2 columns]

In [27]:
publishers.loc[:,['Publisher','NA_Sales']]

                   Publisher  NA_Sales
0     Microsoft Game Studios     14.97
1       Take-Two Interactive      7.01
2       Take-Two Interactive      9.63
3                 Activision      9.03
4                 Activision      9.67
...                      ...       ...
3138                     NaN      0.00
3139             Deep Silver      0.01
3140                  Capcom      0.01
3141       UIG Entertainment      0.00
3142    Alternative Software      0.00

[3143 rows x 2 columns]

In [28]:
publi = publishers.loc[:,['Publisher','NA_Sales']].set_index('Publisher').squeeze()

In [29]:
publi_1 = publishers.loc[:,['Publisher','NA_Sales']].set_index('Publisher')

In [30]:
publi_1

                        NA_Sales
Publisher
Microsoft Game Studios     14.97
Take-Two Interactive        7.01
Take-Two Interactive        9.63
Activision                  9.03
Activision                  9.67
...                          ...
NaN                         0.00
Deep Silver                 0.01
Capcom                      0.01
UIG Entertainment           0.00
Alternative Software        0.00

[3143 rows x 1 columns]

In [31]:
publi

Publisher
Microsoft Game Studios    14.97
Take-Two Interactive       7.01
Take-Two Interactive       9.63
Activision                 9.03
Activision                 9.67
                          ...
NaN                        0.00
Deep Silver                0.01
Capcom                     0.01
UIG Entertainment          0.00
Alternative Software       0.00
Name: NA_Sales, Length: 3143, dtype: float64

In [32]:
publi.groupby('Publisher').sum()

Publisher
49Games              0.00
505 Games            7.92
5pb                  0.02
Abylight             0.07
Ackkstudios          0.00
                     ...
Yacht Club Games     0.03
Yeti                 0.00
Zoo Games            0.30
Zushi Games          0.20
bitComposer Games    0.16
Name: NA_Sales, Length: 155, dtype: float64

In [33]:
publi_1.groupby('Publisher').sum().sort_values(by='NA_Sales', ascending=False)

                        NA_Sales
Publisher
Electronic Arts           213.38
Activision                193.16
Take-Two Interactive      120.99
Microsoft Game Studios    116.77
Ubisoft                    98.65
...                          ...
Kadokawa Games              0.00
Falcom Corporation          0.00
Devolver Digital            0.00
CyberFront                  0.00
49Games                     0.00

[155 rows x 1 columns]

In [34]:
publi_1.groupby('Publisher').sum().sort_values(by='NA_Sales', ascending=False).head(10)

                                        NA_Sales
Publisher
Electronic Arts                           213.38
Activision                                193.16
Take-Two Interactive                      120.99
Microsoft Game Studios                    116.77
Ubisoft                                    98.65
Sony Computer Entertainment                76.35
Warner Bros. Interactive Entertainment     45.24
THQ                                        36.44
Bethesda Softworks                         33.88
Capcom                                     24.74

In [35]:
publi.groupby('Publisher').sum().sort_values(ascending=False).head(10)

Publisher
Electronic Arts                           213.38
Activision                                193.16
Take-Two Interactive                      120.99
Microsoft Game Studios                    116.77
Ubisoft                                    98.65
Sony Computer Entertainment                76.35
Warner Bros. Interactive Entertainment     45.24
THQ                                        36.44
Bethesda Softworks                         33.88
Capcom                                     24.74
Name: NA_Sales, dtype: float64

In [36]:
games

                                Name Platform  ...  Other_Sales Global_Sales
0                 Kinect Adventures!     X360  ...         1.67        21.82
1                 Grand Theft Auto V      PS3  ...         4.14        21.40
2                 Grand Theft Auto V     X360  ...         1.38        16.38
3     Call of Duty: Modern Warfare 3     X360  ...         1.32        14.76
4            Call of Duty: Black Ops     X360  ...         1.13        14.64
...                              ...      ...  ...          ...          ...
3138                  Bound By Flame     X360  ...         0.00         0.01
3139                    Mighty No. 9     XOne  ...         0.00         0.01
3140              Resident Evil 4 HD     XOne  ...         0.00         0.01
3141   Farming 2017 - The Simulation      PS4  ...         0.00         0.01
3142               Rugby Challenge 3     XOne  ...         0.00         0.01

[3143 rows x 10 columns]

In [37]:
publi_2 =publishers.loc[:,['Platform','NA_Sales']]

In [38]:
publi_2

     Platform  NA_Sales
0        X360     14.97
1         PS3      7.01
2        X360      9.63
3        X360      9.03
4        X360      9.67
...       ...       ...
3138     X360      0.00
3139     XOne      0.01
3140     XOne      0.01
3141      PS4      0.00
3142     XOne      0.00

[3143 rows x 2 columns]

In [39]:
publi_2.groupby('Platform').sum().sort_values(by='NA_Sales',ascending=False)

          NA_Sales
Platform
X360        601.05
PS3         392.26
PS4          96.80
XOne         83.19

In [40]:
publishers.Publisher.shape

(3143,)

In [41]:
publishers.Publisher.unique().shape

(156,)

In [42]:
publishers.Publisher.isnull()   # Tratando os NA, neste caso localizando

0       False
1       False
2       False
3       False
4       False
        ...
3138     True
3139    False
3140    False
3141    False
3142    False
Name: Publisher, Length: 3143, dtype: bool

In [43]:
publishers[publishers.Publisher.isnull()]  # Visualizando no dataframe os NA's

     Publisher         Genre Platform  NA_Sales
1149       NaN      Platform      PS3      0.00
2713       NaN  Role-Playing      PS3      0.00
2808       NaN       Shooter     X360      0.00
2926       NaN     Adventure      PS3      0.00
3087       NaN          Misc     X360      0.00
3093       NaN       Shooter     X360      0.01
3138       NaN  Role-Playing     X360      0.00

In [44]:
publishers[publishers.Publisher.isnull()].index  # Pegando os index dos NA's

Int64Index([1149, 2713, 2808, 2926, 3087, 3093, 3138], dtype='int64')

In [45]:
sales

     Platform  NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0        X360     14.97      4.94      0.24         1.67         21.82
1         PS3      7.01      9.27      0.97         4.14         21.40
2        X360      9.63      5.31      0.06         1.38         16.38
3        X360      9.03      4.28      0.13         1.32         14.76
4        X360      9.67      3.73      0.11         1.13         14.64
...       ...       ...       ...       ...          ...           ...
3138     X360      0.00      0.01      0.00         0.00          0.01
3139     XOne      0.01      0.00      0.00         0.00          0.01
3140     XOne      0.01      0.00      0.00         0.00          0.01
3141      PS4      0.00      0.01      0.00         0.00          0.01
3142     XOne      0.00      0.01      0.00         0.00          0.01

[3143 rows x 6 columns]

In [46]:
sales.groupby('Platform').get_group('PS3')

     Platform  NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
1         PS3      7.01      9.27      0.97         4.14         21.40
6         PS3      4.99      5.88      0.65         2.52         14.03
9         PS3      5.54      5.82      0.49         1.62         13.46
10        PS3      5.98      4.44      0.48         1.83         12.73
14        PS3      2.96      4.88      0.81         2.12         10.77
...       ...       ...       ...       ...          ...           ...
3124      PS3      0.00      0.01      0.00         0.00          0.01
3125      PS3      0.00      0.00      0.01         0.00          0.01
3129      PS3      0.00      0.00      0.01         0.00          0.01
3132      PS3      0.00      0.00      0.01         0.00          0.01
3136      PS3      0.00      0.00      0.01         0.00          0.01

[1329 rows x 6 columns]

In [47]:
sales.groupby('Platform').get_group('PS3').reset_index()

      index Platform  NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0         1      PS3      7.01      9.27      0.97         4.14         21.40
1         6      PS3      4.99      5.88      0.65         2.52         14.03
2         9      PS3      5.54      5.82      0.49         1.62         13.46
3        10      PS3      5.98      4.44      0.48         1.83         12.73
4        14      PS3      2.96      4.88      0.81         2.12         10.77
...     ...      ...       ...       ...       ...          ...           ...
1324   3124      PS3      0.00      0.01      0.00         0.00          0.01
1325   3125      PS3      0.00      0.00      0.01         0.00          0.01
1326   3129      PS3      0.00      0.00      0.01         0.00          0.01
1327   3132      PS3      0.00      0.00      0.01         0.00          0.01
1328   3136      PS3      0.00      0.00      0.01         0.00          0.01

[1329 rows x 7 columns]