<a href="https://colab.research.google.com/github/junio-firmino/Aprendizado_python/blob/master/Multi_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd

In [8]:
eng_url = "/content/drive/MyDrive/eng.csv"
state_url = "/content/drive/MyDrive/state.csv"
liberal_url= "/content/drive/MyDrive/liberal_arts.csv"
ivies_url = "/content/drive/MyDrive/ivies.csv"

In [17]:
eng = pd.read_csv(eng_url)

In [19]:
state = pd.read_csv(state_url)

In [21]:
liberal = pd.read_csv(liberal_url)

In [25]:
ivies = pd.read_csv(ivies_url)

In [14]:
dfs = [eng,state,liberal,ivies]

In [24]:
pd.concat(dfs)

                                     School Name  ... Mid-Career Median Salary
0    Massachusetts Institute of Technology (MIT)  ...             $126,000.00
1       California Institute of Technology (CIT)  ...             $123,000.00
2                            Harvey Mudd College  ...             $122,000.00
3   Polytechnic University of New York, Brooklyn  ...             $114,000.00
4                                   Cooper Union  ...             $114,000.00
..                                           ...  ...                      ...
3                             Harvard University  ...             $124,000.00
4                     University of Pennsylvania  ...             $120,000.00
5                             Cornell University  ...             $110,000.00
6                               Brown University  ...             $109,000.00
7                            Columbia University  ...             $107,000.00

[249 rows x 4 columns]

In [31]:
set(eng['School Name']).difference(state['School Name'])

{'California Institute of Technology (CIT)',
 'Carnegie Mellon University (CMU)',
 'Colorado School of Mines',
 'Cooper Union',
 'Embry-Riddle Aeronautical University (ERAU)',
 'Georgia Institute of Technology',
 'Harvey Mudd College',
 'Illinois Institute of Technology (IIT)',
 'Massachusetts Institute of Technology (MIT)',
 'New Mexico Institute of Mining and Technology (New Mexico Tech)',
 'Polytechnic University of New York, Brooklyn',
 'Rensselaer Polytechnic Institute (RPI)',
 'Rochester Institute of Technology (RIT)',
 'South Dakota School of Mines & Technology',
 'Stevens Institute of Technology',
 'Tennessee Technological University',
 'Virginia Polytechnic Institute and State University (Virginia Tech)',
 'Wentworth Institute of Technology',
 'Worcester Polytechnic Institute (WPI)'}

In [35]:
'Cooper Union' in ivies['School Name'].values

False