<a href="https://colab.research.google.com/github/junio-firmino/Aprendizado_python/blob/master/ORG_RAC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
cpc_rac_arq_jan_jul = "/content/drive/MyDrive/CMI CPC JAN JULHO 2021.xlsx"

In [ ]:
cpc_rac_arq_ago = "/content/drive/MyDrive/GOG CMI CPC AGOSTO.xlsx"

In [ ]:
cpc_rac_arq_set = "/content/drive/MyDrive/CMI CPC - SETEMBRO.xlsx"

In [ ]:
cpc_rac_arq_out = "/content/drive/MyDrive/GOG CMI CPC OUTUBRO.xlsx"

In [ ]:
# ---- criar dataframe dos mês -------

In [ ]:
cpc_rac_jan_jul = pd.read_excel(cpc_rac_arq_jan_jul, skiprows=3)

In [ ]:
cpc_rac_jan_jul.head(3)

                               Árvore  ... Total geral de Realizado (RE1)
0  Comercialização no Mercado Interno  ...                         776.88
1  Comercialização no Mercado Interno  ...                          62.26
2  Comercialização no Mercado Interno  ...                         151.42

[3 rows x 33 columns]

In [ ]:
new_rename_columns_jan = {'Planejado (AJ1)': 'Planejado', "Realizado (RE1)": 'Realizado'} # 'Janeiro' Mudar em todos os meses

In [ ]:
cpc_rac_jan_jul = cpc_rac_jan_jul.rename(columns=new_rename_columns_jan)

In [ ]:
columns = ['Gerência','Critério Item','Conta']  # I can use to diferentes from months

In [ ]:
cpc_rac_jan = cpc_rac_jan_jul.iloc [:,7:9]  # Mudar Mês aqui

In [ ]:
cpc_rac_jan['Mês']= 'Janeiro'

In [ ]:
cpc_rac_jan_correct_columns = cpc_rac_jan_jul[columns] # Pode pegar para cada mês

In [ ]:
cpc_rac_jan_merge = pd.merge(cpc_rac_jan_correct_columns,cpc_rac_jan, left_index=True,right_index=True)

In [ ]:
# ----- Fevereiro -------

In [ ]:
new_rename_columns_fev = {'Planejado (AJ1).1': 'Planejado', "Realizado (RE1).1": 'Realizado'}

In [ ]:
cpc_rac_fev_columns = cpc_rac_jan_jul.rename(columns=new_rename_columns_fev)

In [ ]:
cpc_rac_fev = cpc_rac_fev_columns.iloc [:,9:11]

In [ ]:
cpc_rac_fev['Mês']='Fevereiro'

In [ ]:
cpc_rac_fev_merge = pd.merge(cpc_rac_jan_correct_columns,cpc_rac_fev, left_index=True, right_index=True)

In [ ]:
df_test_drop = pd.concat([cpc_rac_jan_merge,cpc_rac_fev_merge])

In [ ]:
list_index_conta_df_test = df_test_drop.loc[df_test_drop.Conta.isin(['Subtotal','Total geral'])].index

In [ ]:
list_index_conta_df_test

Int64Index([263, 263], dtype='int64')

In [ ]:
# ----- Março ------

In [ ]:
new_rename_columns_mar = {'Planejado (AJ1).2': 'Planejado', "Realizado (RE1).2": 'Realizado'}

In [ ]:
cpc_rac_mar_columns = cpc_rac_jan_jul.rename(columns=new_rename_columns_mar)

In [ ]:
cpc_rac_mar = cpc_rac_mar_columns.iloc [:,11:13]

In [ ]:
cpc_rac_mar['Mês']='Março'

In [ ]:
cpc_rac_mar_merge = pd.merge(cpc_rac_jan_correct_columns,cpc_rac_mar, left_index=True, right_index=True)

In [ ]:
# ------- Abril ---------

In [ ]:
new_rename_columns_abr = {'Planejado (AJ1).3': 'Planejado', "Realizado (RE1).3": 'Realizado'}

In [ ]:
cpc_rac_abr_columns = cpc_rac_jan_jul.rename(columns=new_rename_columns_abr)

In [ ]:
cpc_rac_abr = cpc_rac_abr_columns.iloc [:,13:15]

In [ ]:
cpc_rac_abr['Mês']='Abril'

In [ ]:
cpc_rac_abr_merge = pd.merge(cpc_rac_jan_correct_columns,cpc_rac_abr, left_index=True, right_index=True)

In [ ]:
# -------- Maio -----------

In [ ]:
new_rename_columns_mai = {'Planejado (AJ1).4': 'Planejado', "Realizado (RE1).4": 'Realizado'}

In [ ]:
cpc_rac_mai_columns = cpc_rac_jan_jul.rename(columns=new_rename_columns_mai)

In [ ]:
cpc_rac_mai = cpc_rac_mai_columns.iloc [:,15:17]

In [ ]:
cpc_rac_mai['Mês']='Maio'

In [ ]:
cpc_rac_mai_merge = pd.merge(cpc_rac_jan_correct_columns,cpc_rac_mai, left_index=True, right_index=True)

In [ ]:
# ------ Junho -------

In [ ]:
new_rename_columns_jun = {'Planejado (AJ1).5': 'Planejado', "Realizado (RE1).5": 'Realizado'}

In [ ]:
cpc_rac_jun_columns = cpc_rac_jan_jul.rename(columns=new_rename_columns_jun)

In [ ]:
cpc_rac_jun = cpc_rac_jun_columns.iloc [:,17:19]

In [ ]:
cpc_rac_jun['Mês']='Junho'

In [ ]:
cpc_rac_jun_merge = pd.merge(cpc_rac_jan_correct_columns,cpc_rac_jun, left_index=True, right_index=True)

In [ ]:
# -------- Julho ---------------

In [ ]:
new_rename_columns_jul = {'Planejado (AJ1).6': 'Planejado', "Realizado (RE1).6": 'Realizado'}

In [ ]:
cpc_rac_jul_columns = cpc_rac_jan_jul.rename(columns=new_rename_columns_jul)

In [ ]:
cpc_rac_jul = cpc_rac_jul_columns.iloc [:,19:21]

In [ ]:
cpc_rac_jul['Mês']='Julho'

In [ ]:
cpc_rac_jul_merge = pd.merge(cpc_rac_jan_correct_columns,cpc_rac_jul, left_index=True, right_index=True)

In [ ]:
# -------------- Agosto ---------------

In [ ]:
cpc_rac_ago = pd.read_excel(cpc_rac_arq_ago, skiprows=2)

In [ ]:
cpc_rac_ago.head(3)

  Ger. Geral Gerência  ... Planejado (AJ1) Realizado (RE1)
0        CPC  CMI/CPC  ...          121.56           98.84
1        CPC  CMI/CPC  ...            9.59            7.98
2        CPC  CMI/CPC  ...           18.22           21.49

[3 rows x 8 columns]

In [ ]:
new_rename_columns_ago = {'Planejado (AJ1)': 'Planejado', "Realizado (RE1)": 'Realizado'}

In [ ]:
cpc_rac_ago_columns= cpc_rac_ago.rename(columns=new_rename_columns_ago)

In [ ]:
cpc_rac_ago_correct_columns =  cpc_rac_ago_columns.iloc[:,6:8]

In [ ]:
cpc_rac_ago_correct_columns['Mês'] = "Agosto"

In [ ]:
cpc_rac_ago_with_correct_columns = cpc_rac_ago[columns]

In [ ]:
cpc_rac_ago_merge = pd.merge(cpc_rac_ago_with_correct_columns,cpc_rac_ago_correct_columns, left_index=True, right_index=True)

In [ ]:
# -------- Setembro -----------------

In [ ]:
cpc_rac_set = pd.read_excel(cpc_rac_arq_set)

In [ ]:
cpc_rac_set.head(3)

  Ger. Geral Gerência  ... Realizado (RE1) Unnamed: 8
0        CPC  CMI/CPC  ...          106.84        NaN
1        CPC  CMI/CPC  ...           11.02        NaN
2        CPC  CMI/CPC  ...           26.86        NaN

[3 rows x 9 columns]

In [ ]:
new_rename_columns_set = {'Planejado (AJ1)': 'Planejado', "Realizado (RE1)": 'Realizado'}

In [ ]:
cpc_rac_set_columns= cpc_rac_set.rename(columns=new_rename_columns_set)

In [ ]:
cpc_rac_set_correct_columns =  cpc_rac_set_columns.iloc[:,6:8]

In [ ]:
cpc_rac_set_correct_columns['Mês'] = "Setembro"

In [ ]:
cpc_rac_set_with_correct_columns = cpc_rac_set[columns]

In [ ]:
cpc_rac_set_merge = pd.merge(cpc_rac_set_with_correct_columns,cpc_rac_set_correct_columns, left_index=True, right_index=True)

In [ ]:
# -------- Outubro -------------

In [ ]:
cpc_rac_out = pd.read_excel(cpc_rac_arq_out,skiprows=3)

In [ ]:
cpc_rac_out.head(5)

  Ger. Geral Gerência  ... Planejado (AJ1) Realizado (RE1)
0        CPC  CMI/CPC  ...          121.56          106.84
1        CPC  CMI/CPC  ...            9.59           11.02
2        CPC  CMI/CPC  ...           18.22           26.86
3        CPC  CMI/CPC  ...            0.00            0.33
4        CPC  CMI/CPC  ...           48.15           40.52

[5 rows x 8 columns]

In [ ]:
new_rename_columns_out = {'Planejado (AJ1)': 'Planejado', "Realizado (RE1)": 'Realizado'}

In [ ]:
cpc_rac_out_columns= cpc_rac_out.rename(columns=new_rename_columns_out)

In [ ]:
cpc_rac_out_correct_columns =  cpc_rac_out_columns.iloc[:,6:8]

In [ ]:
cpc_rac_out_correct_columns['Mês'] = "Outubro"

In [ ]:
cpc_rac_out_with_correct_columns = cpc_rac_out[columns]

In [ ]:
cpc_rac_out_merge = pd.merge(cpc_rac_out_with_correct_columns,cpc_rac_out_correct_columns, left_index=True, right_index=True)

In [ ]:
# -------- Dataframe Final -------------------

In [ ]:
df_1 = pd.concat([cpc_rac_jan_merge,cpc_rac_fev_merge,cpc_rac_mar_merge, cpc_rac_abr_merge,cpc_rac_mai_merge,cpc_rac_jun_merge,cpc_rac_jul_merge,cpc_rac_ago_merge,cpc_rac_set_merge,cpc_rac_out_merge])

In [ ]:
new_rename_columns_df = {'Gerência':'Gerencia','Critério Item':'Criterio_item'}

In [ ]:
df_1 = df_1.rename(columns=new_rename_columns_df)

In [ ]:
df_2 = df_1.reset_index()

In [ ]:
df_2 = df_2.drop(columns='index')

In [ ]:
list_index_conta = df_2.loc[df_2.Conta.isin(['Subtotal','Total geral'])].index

In [ ]:
list_index_conta

Int64Index([263, 527, 791, 1055, 1319, 1583, 1847, 2084, 2571], dtype='int64')

In [ ]:
list_index_cri_item = df_2.loc[df_2.Criterio_item.isin(['Subtotal','Total geral'])].index

In [ ]:
list_index_cri_item

Int64Index([263, 527, 791, 1055, 1319, 1583, 1847, 2084, 2571], dtype='int64')

In [ ]:
list_index_ger = df_2.loc[df_2.Gerencia.isin(['Subtotal','Total geral'])].index

In [ ]:
list_index_ger

Int64Index([263, 527, 791, 1055, 1319, 1583, 1847, 2084, 2571], dtype='int64')

In [ ]:
list_total = list_index_conta + list_index_cri_item + list_index_ger

In [ ]:
df_3 = df_2.drop(labels=list_index_conta,axis=0)

In [ ]:
df_4= df_3.reset_index().drop(columns='index')

In [ ]:
df_4.Planejado.isna().sum()

261

In [ ]:
df_4.Realizado.isna().sum()

261

In [ ]:
df_4.Planejado.fillna(0, inplace=True)

In [ ]:
df_4.Realizado.fillna(0, inplace=True)

In [ ]:
#df_4.to_csv('rac.csv')

In [ ]:
df_4.head(3)

  Gerencia   Criterio_item  ... Realizado      Mês
0  CMI/CPC  01.01 Salários  ...    101.04  Janeiro
1  CMI/CPC  01.01 Salários  ...      6.35  Janeiro
2  CMI/CPC  01.01 Salários  ...     12.64  Janeiro

[3 rows x 6 columns]

In [ ]:
criterio = df_4.Criterio_item.replace(r'\d|\.[\S]..','', regex=True)

In [ ]:
conta = df_4.Conta.replace(r'(\d|\s\-\s)','', regex=True)

In [ ]:
df_4_criterio = pd.merge(df_4,criterio, left_index=True,right_index=True)

In [ ]:
df_4_criterio_conta = pd.merge(df_4_criterio,conta, left_index=True,right_index=True)

In [ ]:
df_4_modificado= df_4_criterio_conta.drop(columns=['Criterio_item_x','Conta_x'])

In [ ]:
df_4_modificado

         Gerencia  ...               Conta_y
0         CMI/CPC  ...              SALÁRIOS
1         CMI/CPC  ...            ADICIONAIS
2         CMI/CPC  ...         GRATIFICAÇÕES
3         CMI/CPC  ...  PREV E ASSIST SOCIAL
4         CMI/CPC  ...                  FGTS
...           ...  ...                   ...
2558  CMI/CPC/RSS  ...        REPRESENTAÇÕES
2559  CMI/CPC/RNN  ...       RateioMateriais
2560  CMI/CPC/RNN  ...         RateioPessoal
2561  CMI/CPC/RNN  ...     RateioServ. Terc.
2562  CMI/CPC/RNN  ...        RateioEncargos

[2563 rows x 6 columns]

In [ ]:
df_5 = df_4_modificado.rename(columns={'Criterio_item_y':'Criterio_item','Conta_y':'Conta'})

In [ ]:
df_5

         Gerencia  ...                 Conta
0         CMI/CPC  ...              SALÁRIOS
1         CMI/CPC  ...            ADICIONAIS
2         CMI/CPC  ...         GRATIFICAÇÕES
3         CMI/CPC  ...  PREV E ASSIST SOCIAL
4         CMI/CPC  ...                  FGTS
...           ...  ...                   ...
2558  CMI/CPC/RSS  ...        REPRESENTAÇÕES
2559  CMI/CPC/RNN  ...       RateioMateriais
2560  CMI/CPC/RNN  ...         RateioPessoal
2561  CMI/CPC/RNN  ...     RateioServ. Terc.
2562  CMI/CPC/RNN  ...        RateioEncargos

[2563 rows x 6 columns]

In [ ]:
df_5.to_excel('GOG_jan_out.xlsx')