<a href="https://colab.research.google.com/github/junio-firmino/Aprendizado_python/blob/master/soccer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
data = '/content/drive/MyDrive/soccer.csv'

In [3]:
players = pd.read_csv(data)

In [4]:
players.head()

                name     club  age  ... club_id  big_club  new_signing
0     Alexis Sanchez  Arsenal   28  ...       1         1            0
1         Mesut Ozil  Arsenal   28  ...       1         1            0
2          Petr Cech  Arsenal   35  ...       1         1            0
3       Theo Walcott  Arsenal   28  ...       1         1            0
4  Laurent Koscielny  Arsenal   31  ...       1         1            0

[5 rows x 17 columns]

In [5]:
players.position.unique()

array(['LW', 'AM', 'GK', 'RW', 'CB', 'RB', 'CF', 'LB', 'DM', 'RM', 'CM',
       nan, 'SS', 'LM'], dtype=object)

In [6]:
players.shape

(465, 17)

In [7]:
players.position.isin(['LB'])

0      False
1      False
2      False
3      False
4      False
       ...
460    False
461     True
462    False
463    False
464    False
Name: position, Length: 465, dtype: bool

In [8]:
players.loc[players.position.isin(['LB'])]

                      name               club  ...  big_club new_signing
7            Nacho Monreal            Arsenal  ...         1           0
18            Kieran Gibbs            Arsenal  ...         1           0
29          Sead Kolasinac            Arsenal  ...         1           0
34         Charlie Daniels        Bournemouth  ...         0           0
54              Brad Smith        Bournemouth  ...         0           0
62             Gaetan Bong  Brighton+and+Hove  ...         0           0
65          Markus Suttner  Brighton+and+Hove  ...         0           0
82            Stephen Ward            Burnley  ...         0           0
99   Marcos Alonso Mendoza            Chelsea  ...         1           1
112                 Kenedy            Chelsea  ...         1           0
119    Patrick van Aanholt     Crystal+Palace  ...         0           0
128        Jeffrey Schlupp     Crystal+Palace  ...         0           0
134            Pape Souare     Crystal+Palace  ...         0           0
138        Leighton Baines            Everton  ...         0           0
168             Chris Lowe       Huddersfield  ...         0           0
175           Scott Malone       Huddersfield  ...         0           0
196        Christian Fuchs     Leicester+City  ...         0           0
212           Ben Chilwell     Leicester+City  ...         0           0
236         Alberto Moreno          Liverpool  ...         1           0
251     Aleksandar Kolarov    Manchester+City  ...         1           0
270            Daley Blind  Manchester+United  ...         1           0
281              Luke Shaw  Manchester+United  ...         1           0
294           Paul Dummett   Newcastle+United  ...         0           0
298       Massadio Haidara   Newcastle+United  ...         0           0
312          Ryan Bertrand        Southampton  ...         0           0
328           Matt Targett        Southampton  ...         0           0
336           Erik Pieters         Stoke+City  ...         0           0
354             Josh Tymon         Stoke+City  ...         0           0
363          Martin Olsson            Swansea  ...         0           0
369       Stephen Kingsley            Swansea  ...         0           0
389             Ben Davies          Tottenham  ...         1           0
390             Danny Rose          Tottenham  ...         1           0
403           Jose Holebas            Watford  ...         0           0
455        Aaron Cresswell           West+Ham  ...         0           0
461         Arthur Masuaku           West+Ham  ...         0           1

[35 rows x 17 columns]

In [9]:
len(players.loc[players.position.isin(['LB'])])

35

In [10]:
players.get(players.position.isin(['LB']))

                      name               club  ...  big_club new_signing
7            Nacho Monreal            Arsenal  ...         1           0
18            Kieran Gibbs            Arsenal  ...         1           0
29          Sead Kolasinac            Arsenal  ...         1           0
34         Charlie Daniels        Bournemouth  ...         0           0
54              Brad Smith        Bournemouth  ...         0           0
62             Gaetan Bong  Brighton+and+Hove  ...         0           0
65          Markus Suttner  Brighton+and+Hove  ...         0           0
82            Stephen Ward            Burnley  ...         0           0
99   Marcos Alonso Mendoza            Chelsea  ...         1           1
112                 Kenedy            Chelsea  ...         1           0
119    Patrick van Aanholt     Crystal+Palace  ...         0           0
128        Jeffrey Schlupp     Crystal+Palace  ...         0           0
134            Pape Souare     Crystal+Palace  ...         0           0
138        Leighton Baines            Everton  ...         0           0
168             Chris Lowe       Huddersfield  ...         0           0
175           Scott Malone       Huddersfield  ...         0           0
196        Christian Fuchs     Leicester+City  ...         0           0
212           Ben Chilwell     Leicester+City  ...         0           0
236         Alberto Moreno          Liverpool  ...         1           0
251     Aleksandar Kolarov    Manchester+City  ...         1           0
270            Daley Blind  Manchester+United  ...         1           0
281              Luke Shaw  Manchester+United  ...         1           0
294           Paul Dummett   Newcastle+United  ...         0           0
298       Massadio Haidara   Newcastle+United  ...         0           0
312          Ryan Bertrand        Southampton  ...         0           0
328           Matt Targett        Southampton  ...         0           0
336           Erik Pieters         Stoke+City  ...         0           0
354             Josh Tymon         Stoke+City  ...         0           0
363          Martin Olsson            Swansea  ...         0           0
369       Stephen Kingsley            Swansea  ...         0           0
389             Ben Davies          Tottenham  ...         1           0
390             Danny Rose          Tottenham  ...         1           0
403           Jose Holebas            Watford  ...         0           0
455        Aaron Cresswell           West+Ham  ...         0           0
461         Arthur Masuaku           West+Ham  ...         0           1

[35 rows x 17 columns]

In [11]:
len(players.get(players.position.isin(['LB'])))

35

In [12]:
players_name = players.set_index('name')

In [13]:
players_name

                         club  age position  ...  club_id  big_club  new_signing
name                                         ...
Alexis Sanchez        Arsenal   28       LW  ...        1         1            0
Mesut Ozil            Arsenal   28       AM  ...        1         1            0
Petr Cech             Arsenal   35       GK  ...        1         1            0
Theo Walcott          Arsenal   28       RW  ...        1         1            0
Laurent Koscielny     Arsenal   31       CB  ...        1         1            0
...                       ...  ...      ...  ...      ...       ...          ...
Edimilson Fernandes  West+Ham   21       CM  ...       20         0            1
Arthur Masuaku       West+Ham   23       LB  ...       20         0            1
Sam Byram            West+Ham   23       RB  ...       20         0            0
Ashley Fletcher      West+Ham   21       CF  ...       20         0            1
Diafra Sakho         West+Ham   27       CF  ...       20         0            0

[465 rows x 16 columns]

In [14]:
players[players.name.isin(['Edimilson Fernandes'])]

                    name      club  age  ... club_id  big_club  new_signing
460  Edimilson Fernandes  West+Ham   21  ...      20         0            1

[1 rows x 17 columns]

In [15]:
players[players.name == 'Edimilson Fernandes']

                    name      club  age  ... club_id  big_club  new_signing
460  Edimilson Fernandes  West+Ham   21  ...      20         0            1

[1 rows x 17 columns]

In [16]:
players[players.position == 'LW']

                         name               club  ...  big_club new_signing
0              Alexis Sanchez            Arsenal  ...         1           0
9                  Alex Iwobi            Arsenal  ...         1           0
37           Junior Stanislas        Bournemouth  ...         0           0
39                Ryan Fraser        Bournemouth  ...         0           0
43                  Marc Pugh        Bournemouth  ...         0           0
52                 Max Gradel        Bournemouth  ...         0           0
71                Jiri Skalak  Brighton+and+Hove  ...         0           0
73               Jamie Murphy  Brighton+and+Hove  ...         0           0
96                Eden Hazard            Chelsea  ...         1           0
113          Eduardo Carvalho            Chelsea  ...         1           1
133               Bakary Sako     Crystal+Palace  ...         0           0
153           Yannick Bolasie            Everton  ...         0           1
159           Ademola Lookman            Everton  ...         0           0
177        Rajiv van La Parra       Huddersfield  ...         0           0
183                Harry Bunn       Huddersfield  ...         0           0
206              Demarai Gray     Leicester+City  ...         0           0
219                Sadio Mane          Liverpool  ...         1           1
237              Ben Woodburn          Liverpool  ...         1           0
240                 Sheyi Ojo          Liverpool  ...         1           0
246           Raheem Sterling    Manchester+City  ...         1           0
249                Leroy Sane    Manchester+City  ...         1           1
277             Jesse Lingard  Manchester+United  ...         1           0
305            Rolando Aarons   Newcastle+United  ...         0           0
313             DuÅ¡an TadiÄ‡        Southampton  ...         0           0
334         Marko ArnautoviÄ‡         Stoke+City  ...         0           0
346             Ramadan Sobhi         Stoke+City  ...         0           1
361           Wayne Routledge            Swansea  ...         0           0
373         Jefferson Montero            Swansea  ...         0           0
383             Son Heung-min          Tottenham  ...         1           0
398  Georges-Kevin N%27Koudou          Tottenham  ...         1           1
406            Nordin Amrabat            Watford  ...         0           0
416             Isaac Success            Watford  ...         0           1
428              Nacer Chadli          West+Brom  ...         0           1
437             James McClean          West+Brom  ...         0           0
438           Hal Robson-Kanu          West+Brom  ...         0           1
448                Andre Ayew           West+Ham  ...         0           1

[36 rows x 17 columns]

In [17]:
players.head(2)

             name     club  age  ... club_id  big_club  new_signing
0  Alexis Sanchez  Arsenal   28  ...       1         1            0
1      Mesut Ozil  Arsenal   28  ...       1         1            0

[2 rows x 17 columns]

In [18]:
players.nationality.unique()

array(['Chile', 'Germany', 'Czech Republic', 'England', 'France', 'Spain',
       'Nigeria', 'Switzerland', 'Wales', 'Brazil', 'Egypt', 'Argentina',
       'Colombia', 'Bosnia', 'Norway', 'Poland', 'Scotland', 'Congo DR',
       'Ireland', 'Netherlands', 'Australia', "Cote d'Ivoire", 'Finland',
       'Cameroon', 'Austria', 'Israel', 'Northern Ireland', 'Canada',
       'Belgium', 'Iceland', 'Serbia', 'Portugal', 'Ghana', 'South Korea',
       'Mali', 'Senegal', 'Curacao', 'Denmark', 'Slovenia',
       'Trinidad and Tobago', 'Bermuda', 'Benin', 'Algeria', 'Jamaica',
       'Japan', 'Tunisia', 'Croatia', 'Estonia', 'Ecuador', 'Armenia',
       'Italy', 'Sweden', 'United States', 'Morocco', 'The Gambia',
       'Kenya', 'Greece', 'Uruguay', 'Romania', 'Venezuela',
       'New Zealand'], dtype=object)

In [19]:
players.nationality.describe()

count         465
unique         61
top       England
freq          158
Name: nationality, dtype: object

In [20]:
players.new_signing.unique()

array([0, 1])

In [21]:
players.shape

(465, 17)

In [22]:
players.columns

Index(['name', 'club', 'age', 'position', 'position_cat', 'market_value',
       'page_views', 'fpl_value', 'fpl_sel', 'fpl_points', 'region',
       'nationality', 'new_foreign', 'age_cat', 'club_id', 'big_club',
       'new_signing'],
      dtype='object')

In [36]:
players[(players.position =='LB') &
        (players.age<=25)&
        (players.club.isin(['Tottenham','Arsenal']))]

               name       club  age  ... club_id  big_club  new_signing
29   Sead Kolasinac    Arsenal   24  ...       1         1            0
389      Ben Davies  Tottenham   24  ...      17         1            0

[2 rows x 17 columns]